---
import Layout from "@/layouts/Layout.astro";
import GenerateFlashcardsView from "@/components/views/GenerateFlashcardsView";
import NavBar from "@/components/features/NavBar.astro";
import PendingFlashcardsInfo from "@/components/features/PendingFlashcardsInfo";

/**
 * Strona generowania fiszek - chroniona przez auth middleware
 * Middleware automatycznie przekierowuje niezalogowanych użytkowników
 */
---

<Layout title="Generuj fiszki - 10xCards">
  <NavBar />
  <div class="pt-16">
    <div class="container mx-auto px-4 py-6 space-y-6">
      <PendingFlashcardsInfo client:load />
      <GenerateFlashcardsView client:load />
    </div>
  </div>
</Layout>
